@import url("//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css");
.manucontain{
    
    height: 100%;
    flex-grow: 2;
    display: flex;
    /* justify-content: flex-start; */
    align-items: center;
}
.manucontain-closed{
    height: 100%;
    width: calc(100vw - 70px);
    display: flex;
    align-items: center;
}
/* .glyphicon{
    position: relative;
    top: 1px;
    display: inline-block;
    font-family: 'Glyphicons Halflings';
    font-style: normal;
    font-weight: 400;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
}
.glyphicon-search:before {
    content: "\e003";
} */

  .search {
       position: relative;
       width: 250px;
       background: #f0efef;
    color: #a4a5a7;
     }
.search input { 
     text-indent: 13px;
     background: #f0efef;
     color:#a4a5a7;
    
    }
.search .fa-search { 
  position: absolute;
  top: 13px;
  left: 7px;
  font-size: 13px;
}
.flex-grow{
    flex-grow: 1px;
}
.margin-right10{
    margin-right:20px;
    display: flex
}
.badgetop{
    display: inline-block;
    min-width: 10px;
    padding: 3px 7px;
    font-size: 12px;
    font-weight: bold;
    line-height: 1;
    color: #fff;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    background-color: red;
    border-radius: 50%;
}
.badge-header{
  
    /* position: absolute; */
    top: 8%;
    left: 80%;
    margin-top: -38px;
    margin-left: -12px;
}
.padding10{
    padding-top: 24px;
   
    padding-right: 7px;
    position: relative;
}
.user-icon{
    padding-right: 17px;
    padding-top: 14px;
}
.user{
    border: 1px solid grey;
    border-radius: 50%;
    width: 34px;
    height: 34px;
    padding: 6px;
}
.user-name{
    display: flex;
    padding-top: 24px;
}
.seeting-icon{
    padding-top: 22px;
    padding-left: 9px;
}
